<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{task.title}}</h1>
    <p>{{ task.done === 0 ? "Not done yet" : "Already done" }}</p>
    <form action="{{`/tasks/${task.id}/title?_method=PATCH `}}" method="POST">
        {{ csrfField() }}
        <label for="">Change Task's title</label>
        <input type="text" name="title" value="{{task.title}}" >
        <button type="submit">Validate</button>
    </form>
    <div>
        <a href="/">Go Back</a>
    </div>
</body>
</html>